// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";


// Include any default variable overrides here (functions should be available)

$body-bg: chocolate;
//$body-color: white; 
$primary: purple;
$dark: #361738;

@import "../node_modules/bootstrap/scss/variables";

// Create your own map
//$custom-colors: (
//  "custom-color": cornflowerblue
//);

$custom-color: rgb(237, 100, 100);


// Merge the maps
//$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-merge($theme-colors, 
    ( "custom-color": $custom-color ) );

@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

//.pf-menu {
//    //background-color: $custom-color ;
//}

.pf-j-logo {
    font-size: 64px;
}

.pf-content {
    background-color: bisque;
}

.pf-hero-image {
    //background-image: linear-gradient ( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/pexels-anthony-794494_edited.jpg");
    //background-image: url("../images/pexels-anthony-794494.jpg");
    //background-image: linear-gradient(red, orange), url("../images/pexels-anthony-794494.jpg");
    //background-image: linear-gradient(red, orange), url("../images/beach_hut.jpg");
    //background-image: linear-gradient ( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/beach_hut.jpg");
    //background-image: linear-gradient ( rgba(255,0,0,0),rgba(255,0,0,1) ), url("../images/beach_hut.jpg");
    //background-image: linear-gradient ( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/pexels-jessica-lewis-creative-992818.jpg");

    //background-repeat: no-repeat;

    width: calc(100vw - 20px); // Extra 20 pixels for scroll bar
    height: 100vh;  
    object-fit: cover;
}

// Fix width of side menu on wider viewports
$pf-menu-width: 200px;
//$pf-menu-width: 15vw;

@media (min-width: 768px) {
    .pf-portfolio-project-nettmatters {
        background-color: olive;
        width: 50%;
    }

    .pf-portfolio-project-java, .pf-portfolio-project-php {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .pf-hero-image {
        width: calc(100vw - #{$pf-menu-width} - 20px); // Extra 20 pixels for scroll bar
    }
    
    .pf-menu-items {
        width: #{$pf-menu-width};
    }  

    .pf-portfolio-project-nettmatters {
        background-color: black;
    }
}

@media (min-width: 1200px) {
    .pf-portfolio-project-nettmatters {
        background-color: purple;
    }
}