// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";


// Include any default variable overrides here (functions should be available)

$body-bg: chocolate;
$body-color: white; 
$primary: purple;

@import "../node_modules/bootstrap/scss/variables";

// Create your own map
//$custom-colors: (
//  "custom-color": cornflowerblue
//);

$custom-color: rgb(237, 100, 100);


// Merge the maps
//$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-merge($theme-colors, 
    ( "custom-color": $custom-color ) );

@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

.pf-menu {
    //background-color: $custom-color ;
}

.pf-content {
    background-color: bisque;
}