// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";


// Include any default variable overrides here (functions should be available)

$body-bg: chocolate;
//$body-color: white; 
$primary: purple;
$warning: #88bbc0;   
$dark: #361738;

@import "../node_modules/bootstrap/scss/variables";

// Create your own map
//$custom-colors: (
//  "custom-color": cornflowerblue
//);


$one: #bacbd4;
$two: #90b1c5;
$three: #9abac4;
$four: #d8dde0;
$five: #88bbc0;


$ruber: #C94B70ff;
$cinnamon-satin: #C6748Bff;
$crimson-ua: #991729ff;
$magenta-haze: #A14178ff;
$lavender-blush: #EDDCE2ff;

$custom-color1:rgb(237, 100, 100);

$custom-color2:bisque;  
$custom-color3:#837465;
$custom-color4:#749196;

//$custom-color:#A48E99;
$custom-color:#C8637B;

// Merge the maps
//$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors: map-merge($theme-colors, 

    ( "custom-color": $custom-color, "crimson": $crimson-ua) 
    
    );

@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here

// Fix width of side menu on wider viewports
//$pf-menu-width: 15vw;
//$pf-menu-width: 260px;
$pf-menu-width: 250px;

/*
body {
    font-family: 'Oxygen', sans-serif;
} 
*/

.pf-link:hover {
    text-decoration-line: underline;
    text-decoration-color: $crimson-ua;
    text-decoration-thickness: 3px;
}

.pf-menu {
    //background-color: $custom-color ;
    position: fixed;
    height: 100%;
}

.pf-j-logo {
    font-size: 64px;
    font-family: 'Oxygen Mono', monospace;
}

.pf-content {
    background-color: $custom-color;
}

.pf-hero-text {
    font-family: 'Oxygen Mono', monospace;
}

.pf-hero-image {
    width: calc(100vw - 20px); // Extra 20 pixels for scroll bar
    height: 100vh;  
    object-fit: cover;
}

.pf-portfolio-projects {
    gap: 10px;
}

.pf-portfolio-project-nettmatters {
    //background-color: #69ABBC; 
    //background-color: white;
    //background-color: #a14178;
    background-color: #88bbc0;
}

.pf-portfolio-project-java {
    //background-color: #8d8c95; 
    background-color:#A18399;
    background-color:#c288a7;
}

.pf-portfolio-project-php {
    //background-color: #839b76; 
    background-color:#8892BF;
}

@media (min-width: 768px) {
    .pf-portfolio-project-nettmatters {
        width: 50%;
    }

    .pf-portfolio-project-java, .pf-portfolio-project-php {
        width: 25%;
    }
}

@media (min-width: 992px) {
    .pf-hero-image {
        //width: calc(100vw - #{$pf-menu-width} - 20px); // Extra 20 pixels for scroll bar
        //width: calc(100vw - #{$pf-menu-width} - 30px); // Extra 20 pixels for scroll bar
        width: calc(100vw - #{$pf-menu-width} - 22px); // Extra 20 pixels for scroll bar
    }
    
    .pf-content {
        margin-left: #{$pf-menu-width};
    }

   .pf-menu-items {
        width: #{$pf-menu-width};
    }  

    .pf-portfolio-project-nettmatters {
        color: $primary ;
    }
}

@media (min-width: 1200px) {
    .pf-portfolio-project-nettmatters {
        color: $dark;     
    }
}